

.button{
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.button-selected {
    -fx-background-color: #fff;
    -fx-text-fill: #0e094f;

}



#lblMenu{
    .label {
        -fx-padding: 60 0 0 0;
        -fx-font-size: 30px;
        -fx-font-weight: bold;
        -fx-text-fill: white;
        -fx-font-family: "Century Gothic", sans-serif;
    }
}

.nodo-circulo {
    -fx-fill: #7bb3e8;      /* Color azul */
    -fx-stroke: #1a4a78;      /* Borde blanco */
    -fx-stroke-width: 4px;
}
.nodo-texto {
    -fx-fill: black;         /* Color del texto negro */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}


.linea-ruta {
    -fx-stroke: black;
    -fx-stroke-width: 4;
    -fx-stroke-linecap: round;
    -fx-stroke-linejoin: round;
}

